<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hello World!</title>
    <link rel="stylesheet" href="/css/master.css" />
    <script>
      (function () {
        console.log("EJS ATTACHED !!");
        const productId = "<%= productId %>";
        const optionId = "<%= optionId %>";
        console.log({ productId, optionId });
      })();
    </script>
  </head>

  <body style="margin: 0px; background: #0e0e0e; height: 100%">
    <img
      style="
        -webkit-user-select: none;
        margin: auto;
        background-color: hsl(0, 0%, 90%);
        transition: background-color 300ms;
      "
      src="https://rt.openseller.biz/MM102871/9/youtube.com/1233-23223.jpg"
    />
  </body>
</html>
